<div class = "show box">

  <h2>User info</h2>
  <%= image_tag @user.get_profile_image(100,100) %>
  <table>
    <tr>
      <td> <h4>name</h4> </td>
      <td><%= @user.name %> </td>
    </tr>
    <tr>
      <td>introduction </td>
    </tr>
  </table>
</div>

  <%= link_to "編集", edit_user_path(@user), method: :get%>


  <%= render partial: "partial/book_new", locals: { book: @book }%>

  <%= render partial: "partial/user_booklist", locals: { books: @books } %>